{% set featured_collections = [] %}
{% set image_type = settings.featured_best_collections_format_image_type %}

{% set image_type_width = '900' %}
{% set image_type_height = '556' %}

{% if image_type == 'portrait' %}
  {% set image_type_width = '556' %}
  {% set image_type_height = '900' %}
{% elseif image_type == 'square' %}
  {% set image_type_width = '900' %}
  {% set image_type_height = '900' %}
{% endif %}

{% for i in 1..8 %}
  {% set featured_collection = 'featured_best_collections_' ~ i %}
  {% if settings[featured_collection] is not empty and collections[settings[featured_collection]] is defined and collections[settings[featured_collection]].is_visible is not null %}
    {% set featured_collections = featured_collections | merge([collections[settings[featured_collection]]]) %}
  {% endif %}
{% endfor %}

{% set items = featured_collections | length %}
{% if items == 2 or items == 5 %}
  {% set row_products = ' col-sm-6' %}
{% elseif items == 3 or items == 6 %}
    {% set row_products = ' col-sm-4' %}
{% elseif items == 4 or items == 7 or items == 8 %}
    {% set row_products = ' col-sm-6 col-md-3' %}
{% else %}
  {% set row_products = ' col-sm-12' %}
{% endif %}

{% if items > 0 %}
<div class="featured-best-collections">
  <div class="container">
    <div class="row">
      <div class="featured-best-collections__header block_title">
        <h2 class="title">{{ settings.featured_best_collections_title is not empty ? settings.featured_best_collections_title : collection.title }}</h2>
      </div>
    </div>
    <div class="row">
    {% for collection in featured_collections if collection.is_visible is not null %}
      <div class="col-xs-12{{ row_products }}">
        <div class="featured-best-collections__card">
          <div class="featured-best-collections__content">
            <div class="featured-best-collections__outher">
              <div class="featured-best-collections__inner">
                <h3 class="featured-best-collections__title">{{ collection.title }}</h3>
                <p class="featured-best-collections__text"><a class="btn btn-primary" href="/colecciones/{{ collection.permalink }}">{{ settings.featured_best_collections_btn_text }}</a></p>
              </div>
            </div>
          </div>
          {% if collection.image_url is not null %}
          <img class="featured-best-collections__image" src="{{ collection.image_url }}&w={{ image_type_width }}&h={{ image_type_height }}&fit=crop">
          {% else %}
          <img class="featured-best-collections__image" src="{{ 'placeholders/product-11.jpg' | global_img_url }}&w={{ image_type_width }}&h={{ image_type_height }}">
          {% endif %}
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
</div>
{% endif %}
