    <!-- Navigation Component -->
<nav class="navbar navbar-fixed-top navigation">
  <!-- supernavbar banner-->
{% if settings.navigation_top_banner_active %}
  <div class="navbanner hidden-xs hidden-sms">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <p class="navbanner__title">
          <a href="{{ settings.navigation_top_banner_link }}">{{ settings.navigation_top_banner_text }}</a></p>
        </div>
      </div>
    </div>
  </div>
{% endif %}
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% if settings.use_logo %}
          <a class="navbar-brand navigation__logo-image" href="/">
            <img class="logotype" src="{{ settings['nav_logo'] }}" alt="{{ store.name }}">
        {% else %}
          <a class="navbar-brand navigation__logo-text" href="/">
          {{ store.name }}
        {% endif %}
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right second-navigation hidden-xs">
      {% if cart.total_items > 0 %}
        <li><a class="navigation__link second-navigation__link second-navigation--active" href="/carrito"><i class="mdi mdi-cart second-navigation__icon "></i><sup class="second-navigation__qty">{{ cart.total_items }}</sup></a></li>
      {% else %}
        <li><span class="navigation__link second-navigation__link second-navigation--nonactive"><i class="mdi mdi-cart-outline second-navigation__icon "></i></span></li>
      {% endif %}
        <li><a class="navigation__link second-navigation__link" href="/buscar">BUSCAR</a></li>

      {% if store.customer_accounts_enabled_or_optional %}
        {% if customer %}
          <li><a class="navigation__link second-navigation__link" href="/cuenta/logout">SALIR</a></li>
          <li><a class="navigation__link second-navigation__link" href="/cuenta">MI CUENTA</a></li>
        {% else %}
          <li><a class="navigation__link second-navigation__link" href="/cuenta/login">INGRESAR</a></li>
          <li><a class="navigation__link second-navigation__link" href="/cuenta/registro">REGISTRARSE</a></li>
        {% endif %}
      {% endif %}
      </ul>

      <ul class="nav navbar-nav navbar-right first-navigation">
      {% for link in menus.main %}
        {% if link.children | length > 0 %}
        <li class="has-children">
          <a href="{{ link.url }}" class="sub__link">{{ link.name }}</a>
          <a href="#" class="submenu-toggle"><i class="mdi mdi-chevron-down"></i></a>
          <ul class="subnav">
            {% for children in link.children %}
              {% include '_nav-item.twig' with {'link': children} %}
            {% endfor %}
          </ul>
        </li>
        {% else %}
        <li><a class="navigation__link" href="{{ link.url }}">{{ link.name }}</a></li>
        {% endif %}
      {% endfor %}
      {% if store.customer_accounts_enabled_or_optional %}
        {% if customer %}
          <li><a class="navigation__link visible-xs" href="/cuenta/logout">SALIR</a></li>
          <li><a class="navigation__link visible-xs" href="/cuenta">MI CUENTA</a></li>
        {% else %}
          <li><a class="navigation__link visible-xs" href="/cuenta/login">INGRESAR</a></li>
          <li><a class="navigation__link visible-xs" href="/cuenta/registro">REGISTRARSE</a></li>
        {% endif %}
      {% endif %}
      {% if cart.total_items > 0 %}
        <li><a class="navigation__link visible-xs" href="/carrito">Carrito {{ cart.total_items }}</a></li>
      {% endif %}
        <li><a class="navigation__link visible-xs" href="/buscar">BUSCAR</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>