<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 blog-page__item symmetrical">
  <div class="blog-page__item-image thumbnail_landscape">
    {% if post.image_url is not empty and post.image_url is defined and post.image_url is not null%}
      <a class="blog-page__link" href="/blogs/{{ blog.permalink }}/posts/{{ post.permalink }}">
        <img class="img-responsive blog-page__image" src="{{ post.image_url }}&w=400&h=400&fit=crop" alt="{{ post.title }}">
      </a>
    {% else %}
      <a class="blog-page__link" href="/blogs/{{ blog.permalink }}/posts/{{ post.permalink }}">
        <img class="img-responsive blog-page__image" src="{{ 'placeholders/product-11.jpg' | global_img_url }}&w=400&h=400&fit=crop" alt="{{ post.title }}">
      </a>
    {% endif %}
  </div>
    <div class="blog-page__item-description">
      <h2 class="blog-page__item-title"><a class="blog-page__title-link" href="/blogs/{{ blog.permalink }}/posts/{{ post.permalink }}">{{ post.title }}</a></h2>
      <p class="blog-page__item-extract">{{ (post.summary is not empty ? post.summary : post.content) | truncate_words(20) }}</p>
      <p class="blog-page__btn"><a class="blog-page__btn-link" href="/blogs/{{ blog.permalink }}/posts/{{ post.permalink }}">Leer más</a></p>
    </div>
</div> 
