{% if settings.enable_product_image_zoom %}
{{ '//cdnjs.cloudflare.com/ajax/libs/jquery-zoom/1.7.18/jquery.zoom.min.js' | script_tag }}
{% endif %}

{{ 'sku-select/v1/sku-select.min.js' | global_asset_url | script_tag }}
<script type="text/javascript">
var win = $(window);
var thumbnail_type = "{{ settings.product_thumbnail_type }}";

switch(thumbnail_type) {
  case "thumbnail_portrait":
    var thumbnail_width = 1200;
    var thumbnail_height = 740;
    break;
  case "thumbnail_landscape":
    var thumbnail_width = 740;
    var thumbnail_height = 1200;
    break;
  default:
    var thumbnail_width = 800;
    var thumbnail_height = 800;
}

 {% if settings.enable_product_image_zoom %}
  var zoomInText = '{{ settings.product_image_zoom_in_text }}';
  var zoomOutText = '{{ settings.product_image_zoom_out_text }}';
  var loadZoom = function() {
    $('#zoom').wrap('<span style="display:block"></span>')
    .css('display', 'block')
    .parent()
    .zoom({
      on: win.width() < 768 ? 'click' : 'mouseover',
      touch: win.width() < 768 ? true : false,
      magnify: 1.6,
      onZoomIn: function() {
        $('.fireZoomEvent span').text(zoomOutText);
      },
      onZoomOut: function() {
        $('.fireZoomEvent span').text(zoomInText);
      }
    })
  }
 {% endif %}
  $(document).ajaxStart(function(){
    $(document.body).css({'cursor':'wait'});
    $('body a').css({'pointer-events':'none'})})
  .ajaxStop(function(){
    $(document.body).css({'cursor':'default'});
    $('body a').css({'pointer-events':'auto'})}).ready(
    function(){
    // Update Social Share Links
    var title = '{{ product.name | escape }}';
    var enableZoom = {{ settings.enable_product_image_zoom ? 'true' : 'false' }};
    var updateShareUrl = function(image_url) {
      var image_url = image_url || '';
      var permalink = $(location).attr('href');
      var social_brands = ["facebook", "twitter", "pinterest", "google"];

      $.each(social_brands, function (index, value) {
        if (value == 'facebook') {
          $('.share-'+value).attr("href", '//www.facebook.com/sharer.php?u='+permalink);
        }
        if (value == 'twitter') {
          $('.share-'+value).attr("href", '//twitter.com/share?text='+title+'&url='+permalink);
        }
        if (value == 'pinterest' && image_url.length > 1) {
          $('.share-'+value).attr("href", '//pinterest.com/pin/create/button/?url='+permalink+'&media='+image_url+'&description='+title);
        }
        if (value == 'google') {
          $('.share-'+value).attr("href", '//plus.google.com/share?url='+permalink);
        }
      });
    }

    $('.slider-product.slider-nav').slick({
      slidesToShow: 3,
      slidesToScroll: 1,
      arrows: false,
      dots: false,
      centerMode: false,
      focusOnSelect: true
    });
    if(enableZoom) {
      loadZoom();
    }

    $('.slider-nav .slider-nav__item').on('click', function(e) {
      mainProduct = $(this).find('img').attr('src');
      mainProduct = mainProduct.split("&");
      $('.slider .main-product').empty();
      $('.slider .main-product').append('<img class="img-responsive slider__imag-placeholder" src="'+ mainProduct[0] +'&w='+thumbnail_width+'&h='+thumbnail_height+'&fit=crop" id="zoom">');
      if(enableZoom) {
        var zoom = $('#zoom');
        zoom.trigger('zoom.destroy');
        zoom.attr("src", mainProduct[0]+'&w='+thumbnail_width+'&h='+thumbnail_height+'&fit=crop');
        loadZoom();
      }
    });

    var setMainImgContainerHeight = function() {
      var mainImgContainerHeight = $('.main-product').outerHeight();
      $('.main-product').css({ 'min-height': mainImgContainerHeight });
    }
    // Quantity input
    var qty = $("input#quantity");
    $('.btn-number').click(function(e){
      e.preventDefault();
      fieldName = $(this).attr('data-field');
      type      = $(this).attr('data-type');
      var input = $("input[name='"+fieldName+"']");
      var currentVal = parseInt(input.val());
        if (!isNaN(currentVal)) {
          if(type == 'minus') {
            if(currentVal > input.attr('min')) {
              input.val(currentVal - 1).change();
            }
            if(parseInt(input.val()) == input.attr('min')) {
              $(this).attr('disabled', true);
            }
          } else if(type == 'plus') {
            if(currentVal < input.attr('max')) {
                input.val(currentVal + 1).change();
            }
            if(parseInt(input.val()) == input.attr('max')) {
                $(this).attr('disabled', true);
            }
          }
        } else {
        input.val(0);
        }
    });
    $('.input-number').focusin(function(){
     $(this).data('oldValue', $(this).val());
    });
    $('.input-number').change(function() {
      initValue = parseInt($(this).val());
      minValue =  parseInt($(this).attr('min'));
      maxValue =  parseInt($(this).attr('max'));
      valueCurrent = parseInt($(this).val());
      name = $(this).attr('name');
      if(valueCurrent >= minValue) {
          $(".btn-number[data-type='minus'][data-field='"+name+"']").removeAttr('disabled')
          qty.attr('value', valueCurrent);
      } else {
          $(this).val($(this).data('oldValue'));
          qty.attr('value', $(this).data('oldValue'));
      }
      if(valueCurrent <= maxValue) {
          $(".btn-number[data-type='plus'][data-field='"+name+"']").removeAttr('disabled');
          qty.attr('value', valueCurrent);
      } else {
          $(this).val($(this).data('oldValue'));
          qty.attr('value', $(this).data('oldValue'));
      }
    });
    // End quantity input

    var firstLoad = true;
    var enable_product_image_zoom = '{{ settings.enable_product_image_zoom }}';

    new Shoperti.SkuSelect({
      selector: 'js-variant-select',
      skus: {{ product.skus | json }},
      inputType: 'radio'
    }, function(sku) {
      jQuery('#js-sku-id').val(sku.id);
      jQuery('#js-sku-new').val(sku.id);
      if (sku.code != '') {
        jQuery('#js-sku-id').html('SKU: <strong>'+ sku.code +'</strong>');
      }
      jQuery('#js-add-to-cart').removeClass('disabled').removeAttr('disabled', 'disabled')
      if (sku.price < sku.compared_price) {
        jQuery('#js-price-preview').html("<del class=\"price-preview__compared-price\"><span class=\"inner\">" + formatMoney(sku.compared_price) + "</span></del><br><span class=\"product-price-data-price price-preview__price\">" + formatMoney(sku.price) + "</span>");
      } else {
        jQuery('#js-price-preview').html("<span class=\"product-price-data-price price-preview__price\">" + formatMoney(sku.price) + "</span>");
      }
      if (!sku || (sku.in_stock === 0 && sku.stock_policy == 'overall' && !sku.is_backorderable)) {
        jQuery('#js-add-to-cart').addClass('disabled').attr('disabled', 'disabled');
      }
      if (sku) {
        var image = sku.image_url;
        {% if product.sku.permalink != 'default' %}
          var parentPermalink = '{{ product.permalink }}';
          var newurl = '/productos/';
          newurl += parentPermalink+'/'+sku.permalink;
          if(history.pushState) {
            history.pushState(null, null, newurl);
          }
          updateShareUrl(image);
        {% endif %}
        if (!firstLoad) {
          if (enableZoom) {
            var zoom = $('#zoom');
            if (image && $('.zoomImg').attr('src') != image) {
              $('.slider .main-product').empty();
              $('.slider .main-product').append('<img class="img-responsive slider__imag-placeholder" src="'+ image +'&w='+thumbnail_width+'&h='+thumbnail_height+'&fit=crop" id="zoom">');
              loadZoom();
            }
          } else {
          var zoom = $('#zoom');
            if (image && zoom.attr('src') != image) {
              zoom.attr("src", image);
            }
          }
        }
        firstLoad = false;
      }
    });

  $(window).on('resize', function () {
  });
});
</script>
