{% if settings.enable_product_image_zoom %}
{{ '//cdnjs.cloudflare.com/ajax/libs/jquery-zoom/1.7.18/jquery.zoom.min.js' | script_tag }}
{% endif %}
<script type="text/javascript">
 {% if settings.enable_product_image_zoom %}
  function loadZoom() {
    $('#zoom').wrap('<span style="display:inline-block"></span>')
      .css('display', 'block')
      .parent()
      .zoom();
    }
 {% endif %}

  $(function() {
     {% if settings.enable_product_image_zoom %}
        loadZoom();
     {% endif %}

    $('.slider').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: false,
      speed: 100,
      autoplay: false,
      autoplaySpeed: 3000,
      dots: true,
      fade: true,
      asNavFor: '.slider-nav'
    });

    $('.slider-nav').slick({
      slidesToShow: 4,
      slidesToScroll: 1,
      asNavFor: '.slider',
      arrows: false,
      dots: false,
      centerMode: false,
      focusOnSelect: true
    });

    $('.product .slick-slide').on('click', function(e) {
      mainProduct = $(this).find('img').attr('src');
      $('.main-product').find('img').attr('src', mainProduct);
      {% if settings.enable_product_image_zoom %}
        var zoom = $('#zoom');
        zoom.trigger('zoom.destroy');
        zoom.attr("src", mainProduct);
        loadZoom();
      {% endif %}
    });

    var qty = $("input#quantity");
    $('.btn-number').click(function(e){
      e.preventDefault();
      fieldName = $(this).attr('data-field');
      type      = $(this).attr('data-type');
      var input = $("input[name='"+fieldName+"']");
      var currentVal = parseInt(input.val());
        if (!isNaN(currentVal)) {
          if(type == 'minus') {
            if(currentVal > input.attr('min')) {
              input.val(currentVal - 1).change();
            } 
            if(parseInt(input.val()) == input.attr('min')) {
              $(this).attr('disabled', true);
            }
          } else if(type == 'plus') {
            if(currentVal < input.attr('max')) {
                input.val(currentVal + 1).change();
            }
            if(parseInt(input.val()) == input.attr('max')) {
                $(this).attr('disabled', true);
            }
          }
        } else {
        input.val(0);
        }
    });
    $('.input-number').focusin(function(){
     $(this).data('oldValue', $(this).val());
    });
    $('.input-number').change(function() {
      initValue = parseInt($(this).val());
      minValue =  parseInt($(this).attr('min'));
      maxValue =  parseInt($(this).attr('max'));
      valueCurrent = parseInt($(this).val());
      name = $(this).attr('name');
      if(valueCurrent >= minValue) {
          $(".btn-number[data-type='minus'][data-field='"+name+"']").removeAttr('disabled')
          qty.attr('value', valueCurrent);
      } else {
          $(this).val($(this).data('oldValue'));
          qty.attr('value', $(this).data('oldValue'));
      }
      if(valueCurrent <= maxValue) {
          $(".btn-number[data-type='plus'][data-field='"+name+"']").removeAttr('disabled');
          qty.attr('value', valueCurrent);
      } else {
          $(this).val($(this).data('oldValue'));
          qty.attr('value', $(this).data('oldValue'));
      }
    });






  });
</script>

{% if product.is_in_stock %}
  {{ 'sku-select/v1/sku-select.min.js' | global_asset_url | script_tag }}
  <script>
    var formatMoney = function(price) {
      var formatPrice = price /= 100;

      formatPrice = formatPrice.toFixed(2);
      formatPrice = formatPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      return '$ ' + formatPrice + ' {{ store.currency }}';
    }

    $(document).ready(function () {
      var firstLoad = true;
      var enable_product_image_zoom = '{{ settings.enable_product_image_zoom }}';

      new Shoperti.SkuSelect({
        selector: 'js-variant-select',
        skus: {{ product.skus | json }},
        inputType: 'radio'
      }, function(sku) {
        if (sku && !(sku.stock_policy !== 'none' && sku.in_stock < 1)) {
          jQuery('#js-sku-id').val(sku.id);
          jQuery('#js-sku-new').val(sku.id);
          if (sku.code != '') {
            jQuery('#js-sku-id').html('SKU: <strong>'+ sku.code +'</strong>');
          }
          jQuery('#js-add-to-cart').removeClass('disabled').removeAttr('disabled', 'disabled')
          if (sku.price < sku.compared_price) {
            jQuery('#js-price-preview').html("<del class=\"compared-price\"><span class=\"inner\">" + formatMoney(sku.compared_price) + "</span></del><br><span class=\"product-price-data-price product-price__discount\">" + formatMoney(sku.price) + "</span>");
          } else {
            jQuery('#js-price-preview').html("<span class=\"product-price-data-price\">" + formatMoney(sku.price) + "</span>");
          }
        } else {
          jQuery('#js-add-to-cart').addClass('disabled').attr('disabled', 'disabled')
          jQuery('#js-price-preview').html('<span class="product-price-data-price">No disponible</span>');
        }

        if (sku) {
          var image = sku.image_url;
          if (!firstLoad) {
            if (enable_product_image_zoom) {
              var zoom = $('#zoom');
              if (image && $('.zoomImg').attr('src') != image) {
                zoom.trigger('zoom.destroy');
                zoom.attr("src", image);
                loadZoom();
              }
            } else {
            var zoom = $('#zoom');
              if (image && zoom.attr('src') != image) {
                zoom.attr("src", image);
              }
            }
          }
          firstLoad = false;
        }
      });
    });
  </script>
{% endif %}
