{% set totalImageCounter = 0 %}
{% for thumbnail in product.images %}
  {% if 'tagcolor' not in thumbnail.url|lower %}
    {% set totalImageCounter = totalImageCounter + 1 %}
  {% endif %}
{% endfor %}
<div class="container page product-page">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div class="carousel">
          <div class="col-xs-12 col-sm-6 col-md-7">
            <div class="slider">
            {% if settings.enable_product_image_zoom %}
              <div class="fireZoomEvent visible-xs visible-sm"><span>{{ settings.product_image_zoom_in_text }}</span></div>
            {% endif %}
            {% if product.images|length == 0 %}
              <div class="main-product">
                <img class="img-responsive slider__imag-placeholder" src="{{ 'placeholders/product-15.jpg'|global_img_url }}" alt="{{ product.name }}" id="zoom">
              </div>
            {% else %}
              <div class="main-product">
                <img class="main-product__main-image mageProduct" src="{{ product.image_url }}&w={{ thumb.width }}&h={{ thumb.height }}&fit=crop" alt="{{ product.name }}" id="zoom">
              </div>
            {% endif %}
            </div>
            <div class="row">
              {% if totalImageCounter > 1 %}
              <div class="col-xs-12 slider-container">
                <div class="slider-product slider-nav">
                    {% for thumbnail in product.images %}
                      {% if 'tagcolor' not in thumbnail.url|lower %}
                      <div class="slider-nav__item">
                        <img class="slider-nav__image" src="{{ thumbnail.url }}&w=250&h=250&fit=crop" alt="{{ product.name }}">
                      </div>
                      {% endif %}
                    {% endfor %}
                </div>
              </div>
              {% endif %}
            </div>
          </div> <!-- col-xs-12 col-sm-6 col-md-8 -->
        </div> <!-- .caorusel -->
        <div class="product">
          <div class="col-xs-12 col-sm-6 col-md-5">
            <ol class="breadcrumb hidden-xs hidden-sm">
              <li><a href="/">Inicio</a></li>
              <li><a href="/productos">Productos</a></li>
              <li class="active">{{ product.name }}</li>
            </ol>
            <div class="header">
              <p class="header__status">
              {% if not product.is_in_stock %}
                <span class="label label-danger">{{ settings.product_status_not_available_text }}</span>
              {% else %}
              <span class="label label-success">{{ settings.product_status_available_text}}</span>
              {% endif %}
              </p>
              <div class="vendor">
              {% if product.vendor.name is not null and settings.display_vendor %}
              <p class="vendor__sku">Marca: <strong>{{ product.vendor.name|title }}</strong></p>
              {% endif %}
              </div><!-- vendor -->
              <h1 class="header__title">{{ product.name }}</h1>
              {% if settings.show_sku_code and product.sku.code is not empty %}
              <p id="js-sku-id" class="header__sku">{{ settings.sku_title }} <span class="label-sku">{{ product.sku.code }}</span></p>
              {% endif %}
            </div>
            <div class="price-preview" id="js-price-preview">
              {% if product.compared_price %}
              <p class="price-preview__compared-price"><span class="inner">{{ product.compared_price is defined and product.compared_price > product.price ? product.compared_price|money('symbol', 'code') : '' }}</span></p>
              {% endif %}
              <p class="price-preview__price">{{ product.price|money('symbol', 'code') }}</p>
            </div>

            <div class="quantity">
              <div class="input-group">
                <input id="quantity" type="text" name="quantity" class="form-control input-number" value="1" min="1" max="10">
                <span class="input-group-btn left">
                  <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quantity">
                  <span class="mdi mdi-minus"></span>
                  </button>
                </span>
                <span class="input-group-btn right">
                  <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quantity">
                  <span class="mdi mdi-plus"></span>
                  </button>
                </span>
                </div>
            </div>
            {% if settings.enable_share_products %}
              <div class="share-product">
                {% include '_social-share.twig' %}
              </div>
            {% endif %}
            {% if product.description is not empty %}
              <div class="product__description">
                <h4>Descripción:</h4>
                {{ product.description }}
              </div>
            {% endif %}
            <div class="selector">
              <div class="product_selection">
                <input type="hidden" name="sku_id" value="{{ product.sku.id }}" id="js-sku-new">
                <input type="hidden" name="quantity" value="1" id="js-quantity">
                {% if product.skus_modifiers|length > 0 %}
                  {% for attribute, attribute_variants in product.skus_modifiers %}
                    {% if settings.product_tagcolor and attribute|lower == 'color' %}
                      <p class="product-features">{{ attribute|title }}</p>
                      <div class="form-group product-page__tagcolor">
                      {% set step = loop.index0 %}
                      {% set default_variant = product.sku.modifiers[step] %}
                      {% for variant in attribute_variants %}
                        {% set colorCounter = 0 %}
                        {% set tagcolor = 'tagcolor-'~variant|lower|replace({'ñ': 'n', ' ': '-', 'á': 'a', 'é': 'e', 'í': 'i', 'ó': 'o', 'ú': 'u' }) %}
                        <input id="{{ product.sku.id }}_{{ variant }}_{{ loop.index0 }}" type="radio" name="{{ step }}" value="{{ variant }}" class="js-variant-select {{ variant|replace({' ': '-'}) }}" {% if default_variant == variant %}checked="checked"{% endif %}>
                        <label style="background-image:url(
                          {% for thumbnail in product.images if colorCounter == 0 %}
                          {% if  tagcolor in thumbnail.url|lower %}
                            {{ thumbnail.url }}&w=30&h=30&fit=crop
                          {% set colorCounter = 1 %}
                          {% endif %}
                        {% endfor %}
                        );" for="{{ product.sku.id }}_{{ variant }}_{{ loop.index0 }}"><span data-toggle="tooltip" title="{{ variant|title }}"></span></label>
                      {% endfor %}
                      </div>
                    {% else %}
                      <p class="product-features">{{ attribute|title }}</p>
                      <div class="form-group">
                      {% set step = loop.index - 1 %}
                      {% set default_variant = product.sku.modifiers[step] %}
                      {% for variant in attribute_variants %}
                      <span class="tagtitle">
                        <input id="{{ product.sku.id }}_{{ variant }}_{{ loop.index0 }}" type="radio" name="{{ step }}" value="{{ variant }}" class="js-variant-select custom-input" {% if default_variant == variant %} checked="checked" {% endif %} >
                        {{ variant|title }}
                        <label class="custom-label" for="{{ product.sku.id }}_{{ variant }}_{{ loop.index0 }}"></label>
                      </span>
                      {% endfor %}
                      </div>
                    {% endif %}
                  {% endfor %}
                {% endif %}
                {% if product.is_in_stock %}
                  <a class="btn btn-primary btn-lg js-add-to-cart" id="js-add-to-cart">
                  <i class="mdi mdi-cart"></i>
                  Añadir al carrito
                  </a>
                  {% else %}
                  <a class="btn btn-primary btn-lg js-add-to-cart-disabled" disabled="disabled">
                  <i class="mdi mdi-cart-off"></i>
                  No disponible
                  </a>
                {% endif %}
                </div>
                <hr class="spacer light">
              </div>
            </div>
          </div>  <!-- .product -->
      </div> <!-- .row -->
    {% if settings.related_products and product.related_by_tags|length > 0 %}
      <div class="related_products">
        <div class="subdivider"></div>
        <div class="divider"></div>
        <div class="row">
          <div class="col-xs-12">
            <h3 class="related_products__title title">Productos relacionados</h3>
          </div>
        </div>
        <div class="row symmetrical-container">
          {% for product in product.related_by_tags|slice(0, 4) %}
              <div class="col-xs-6 col-sm-3 symmetrical">
                {% include '_product-card.twig' %}
              </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
    </div> <!-- .col-md-9 col-md-push-3 -->
  </div>
</div>
