{% if related_product.image_url is not null %}
  {% set image_url = related_product.image_url %}
  {% set style = '' %}
{% else %}
  {% set image_url = 'placeholders/product-11.jpg' | global_img_url %}
  {% set style = 'img-placeholder' %}
{% endif %}
<div class="product-card">
  {% if related_product.compared_price > related_product.price  %}
  <div class="ribbon"><span class="warning">{{ settings.product_ribbon_text }}</span></div>
  {% endif %}
  <div class="product-card__image-container">
    <a href="/productos/{{ related_product.permalink }}" class="clearfix product-card__image-link">
      {% if related_product.images | length > 1 %}
        {% for thumbnail in related_product.images [:2] %}
        <img class="product-card__image preview-{{ loop.index }}" src="{{ thumbnail.url }}&w={{ width }}&h={{ height }}&fit=crop" width="{{ width }}" alt="{{ related_product.name }}">
        {% endfor %}
      {% else %}
        <img class="product-card__image preview-1" src="{{ image_url }}&w={{ width }}&h={{ height }}&fit=crop" width="{{ width }}" alt="{{ related_product.name }}">
      {% endif %}
    </a>
  </div>
  <div class="product-card__description">
    <p class="product-card__title">
      <a href="/productos/{{ related_product.permalink }}" class="product-card__title-link">{{ related_product.name }}</a>
    </p>
  </div>
</div>
